@using System.Web.Configuration
@{
    ViewBag.Title = "File Results";
}

@using (Html.BeginForm("Index", "File", FormMethod.Get)) {
	<ul>
		<li>@Html.Label("Keyword", new { @for = "keyword" }) @Html.TextBox("keyword")</li>
		<li>@Html.Label("File Name", new { @for = "query" }) @Html.TextBox("query")</li>
	</ul>
    <input type="submit" value="Search" class="btn"/>
}
<ul id="result" class="files"></ul>
<div id="loading">Loading...</div>

@Scripts.Render("~/scripts/masonry.pkgd.js")
@section Scripts {
<script id="file-template" type="text/x-jsrender">
	<li class="file">
		<a href="@Url.RootUrl(){{attr:url}}" class="thumbs" data-img="@Url.RootUrl(){{attr:displayUrl}}" data-type="{{attr:displayType}}" data-download="@Url.RootUrl(){{attr:downloadUrl}}">
	    	<span class="file-image">
				<img src="@Url.RootUrl(){{attr:previewUrl}}" height="{{attr:previewHeight}}" width="{{attr:previewWidth}}" />
			</span>
			<span class="name">
		        <span class="pack-name">{{>pack}}</span>
		        <span class="file-name">{{>fileName}}</span>
	        </span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			params: @Html.Raw(ViewBag.Params),
			url: "@Url.RouteUrl("api", new { httproute="", Controller = "file" })",
			template: "#file-template",
			loading: "#loading",
			onComplete: function () {
			    var msnry = new Masonry('.files', {});
			}
		});
		@if (Convert.ToBoolean(WebConfigurationManager.AppSettings["EnableGallery"]))
		{
		<text>
			$('#result').gallery({
				images: 'a.thumbs',
				rel: 'thumbs',
				loadMore: function(finished) {
					$('#result').pageloader('load', finished);
				}
			});
		</text>
		}     
	});
</script>
}