@model int
@{
    ViewBag.Title = "Year " + @Model;
}
@section SecondaryHeader {
    <h2>@Model</h2>
}

<ul id="result" class="files packs"></ul>
<div id="loading">Loading...</div>

@section Scripts {
@Scripts.Render("~/Scripts/masonry.pkgd.js")
<script id="pack-template" type="text/x-jsrender">
	<li class="file">
		<a href="@Url.RootUrl(){{attr:url}}">
			<span class="file-image">
				<img src="@Url.RootUrl(){{attr:previewUrl}}" {{if previewHeight}}height="{{attr:previewHeight}}"{{/if}} {{if previewWidth}}width="{{attr:previewWidth}}"{{/if}} />
			</span>
			<span class="file-name">{{>name}}</span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			url: "@Url.RouteUrl("api", new { httproute="", Controller = "Year", id = Model })",
			template: "#pack-template",
			selector: function(data) { return data.packs; },
			loading: "#loading",
			onComplete: function () {
			    var msnry = new Masonry('.files', {});
			}
		});
	});
</script>
}