@using System.Web.Configuration
@model Pablo.Gallery.Models.Pack
@{
    ViewBag.Title = "Pack " + Model.Name;
	ViewBag.PreviewImageUrl = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + Url.Content(Model.PreviewUrl());	
}

@section SecondaryHeader {
    <h2>@Html.ActionLink(Model.Date.Value.Year.ToString(), "Index", "Pack", new {year = Model.Date.Value.Year}, null)\@Model.Name</h2>
    <p>
        <a href="@Url.Content(Model.DownloadUrl())">Download Pack</a>
    </p>
}
<ul id="result" class="files"></ul>
<div id="loading">Loading...</div>

@section Scripts {
@Scripts.Render("~/Scripts/masonry.pkgd.js")
<script id="file-template" type="text/x-jsrender">
	<li class="file">
		<a href="@Url.RootUrl(){{attr:url}}" class="thumbs" data-img="@Url.RootUrl(){{attr:displayUrl}}" data-type="{{attr:displayType}}" data-download="@Url.RootUrl(){{attr:downloadUrl}}">
			<span class="file-image">
				<img src="@Url.RootUrl(){{attr:previewUrl}}" {{if previewHeight}}height="{{attr:previewHeight}}"{{/if}} {{if previewWidth}}width="{{attr:previewWidth}}"{{/if}} />
			</span>
			<span class="file-name">{{>fileName}}</span>
		</a>
	</li>
</script>
<script>
    $(function() {
        $('#result').pageloader({
            url: "@Url.RouteUrl("api", new {httproute = "", Controller = "Pack", id = Model.Name})",
            template: "#file-template",
            loading: "#loading",
            selector: function(data) { return data.files; },
            onComplete: function() {
                var msnry = new Masonry('.files', {});
            }
        });
		@if (Convert.ToBoolean(WebConfigurationManager.AppSettings["EnableGallery"]))
		{
			<text>

        $('#result').gallery({
            images: 'a.thumbs',
            rel: 'thumbs',
            loadMore: function(finished) {
                $('#result').pageloader('load', finished);
            }
        });
		</text>
		}
    });
</script>

}

    